@charset "UTF-8";
* {
  box-sizing: border-box;
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Lato, 'Hiragino Kaku Gothic Pro', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.05em;
  color: #89949e;
}

h2, h3, h4, h5, h6 {
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #4ac0b9;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #4ac0b9;
}

img {
  width: 100%;
}

.container {
  width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  background-color: #022840;
  color: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  -webkit-transition: padding-top .3s, padding-bottom .3s;
  transition: padding-top .3s, padding-bottom .3s;
}

.nav__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 16px;
  font-family: Montserrat,-apple-system,BlinkMacSystemFont,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,"Helvetica Neue",Arial,"Noto Sans",sans-serif;
}

.nav__title {
  display: inline-block;
  font-size: 2.8rem;
  margin-right: 2rem;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item {
  margin-left: 2rem;
  font-size: 1.8rem;
}

.nav__item > a {
  text-decoration: none;
}

.header {
  padding: 142px 0 80px;
  background-color: #04BF9D;
  color: #fff;
}

@media (max-width: 480px) {
  .header {
    padding: 102px 0 40px;
  }
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 16px;
}

.header__title {
  margin-top: 40px;
  font-size: 4.8rem;
  line-height: 4.8rem;
}

@media (max-width: 480px) {
  .header__title {
    margin-top: 16px;
    font-size: 3.2rem;
    line-height: 3.2rem;
  }
}

.header__description {
  margin-top: 20px;
  font-size: 2.4rem;
  text-align: center;
}

@media (max-width: 480px) {
  .header__description {
    margin-top: 8px;
    font-size: 1.6rem;
  }
}

.prof-img {
  width: 100%;
  animation: pounding 1.5s linear infinite alternate;
}

@keyframes pounding{
  0%{ transform: scale(1.5); }
  100%{ transform: scale(1); }
}

.prof-img__outer {
  height: 240px;
  width: 240px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #fff;
}

@media (max-width: 480px) {
  .prof-img__outer {
    height: 160px;
    width: 160px;
  }
}

.section {
  padding: 80px 0;
}

@media (max-width: 480px) {
  .section {
    padding: 20px 0;
  }
}

.section__title {
  font-size: 4rem;
}

.section__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 16px;
}

.portfolio__inner {
  width: 90%;
  max-width: 600px;
  margin: 40px auto 0;
}

@media (max-width: 480px) {
  .portfolio__inner {
    margin: 20px auto 0;
  }
}

@media (max-width: 400px) {
  .portfolio__inner {
    width: 100%;
  }
}

.portfolio__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portfolio__items > li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 48%;
  list-style: none;
}

@media (max-width: 480px) {
  .portfolio__items > li {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

.portfolio__item {
  position: relative;
  display: block;
  max-width: 280px;
  margin: 8px auto;
  border-radius: 16px;
  overflow: hidden;
  background-color: #fff;
}

.portfolio__item:before {
  content: "";
  display: block;
  padding-top: 75%;
}

.portfolio__thumb {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio__thumb img {
  max-height: 100%;
  max-width: 100%;
}

.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tabs li {
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 120px;
          flex: 0 1 120px;
  height: 45px;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ccc;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.tabs li:nth-child(1) {
  background-color: #ff6666;
}

.tabs li:nth-child(2) {
  background-color: #ffe666;
}

.tabs li:nth-child(3) {
  background-color: #99ff66;
}

.tabs li:nth-child(4) {
  background-color: #66b3ff;
}

.tabs li:nth-child(5) {
  background-color: #cc66ff;
}

.tabs li + li {
  margin-left: 5px;
}

.tabs li.is-active {
  height: 60px;
  margin-top: 0;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.tabContents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 480px;
  margin-top: 4px;
}

@media (max-width: 700px) {
  .tabContents {
    min-height: auto;
  }
}

.tabContents__inner {
  display: none;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  padding: 12px 24px;
}

.tabContents__inner:nth-child(1) {
  background-color: #ffe6e6;
}

.tabContents__inner:nth-child(2) {
  background-color: #fffbe6;
}

.tabContents__inner:nth-child(3) {
  background-color: #eeffe6;
}

.tabContents__inner:nth-child(4) {
  background-color: #e6f2ff;
}

.tabContents__inner:nth-child(5) {
  background-color: #f7e6ff;
}

.tabContents__inner.is-active {
  display: block;
}


/* メニュー一覧 */
.logo {
  font-family: Pacifico, sans-serif;
  font-size: 40px;
  color: #4ac0b9;
  display: inline-block;
  padding: 20px 0;
  margin: 80px 0 30px;
  border-top: 5px solid #42c7c1;
  border-bottom: 5px solid #42c7c1;
}

.menu-wrapper {
  margin-bottom: 60px;
  text-align: center;
}

.menu-item-name {
  line-height: 1.7;
  font-size: 25px;
  margin-top: 15px;
  color: #4ac0b9;
}

.menu-item-type {
  font-size: 14px;
}

.price {
  margin: 15px 0;
  font-size: 18px;
  color: #322f33;
}

.menu-items {
  margin-bottom: 60px;
}

.menu-item {
  display: inline-block;
  width: 40%;
  padding: 20px;
  margin-top: 40px;
}

.menu-item-image {
  border-radius: 50px;
}

.icon-spiciness {
  width: 20px;
}

.menu-item span {
  font-size: 16px;
}

input {
  margin-left: 20px;
  margin-right: 10px;
  padding: 5px;
  text-align: center;
  width: 60px;
  font-size: 14px;
  margin-top: 10px;
}

input[type="submit"] {
  display: inline-block;
  width: 160px;
  height: 48px;
  line-height: 48px;
  padding: 0 20px;
  border-radius: 30px;
  border-style: none;
  color: white;
  background-color: #42c7c1;
  font-size: 15px;
  letter-spacing: 0.1em;
}

/* 注文確認 */
.order-wrapper {
  text-align: center;
  background-color: #F8F8F8;
  line-height: 2;
  letter-spacing: 0.1em;
  width: 500px;
  margin: 60px auto;
  padding: 20px 0px 30px;
  border-radius: 5px;
  box-shadow: 0px 1px 4px #CCD7D4;
}

.order-wrapper h2 {
  font-size: 32px;
  margin: 30px 0;
  color: #322f33;
}

.order-wrapper p {
  display: inline-block;
  font-size: 22px;
}

.order-wrapper h3 {
  border-top: 1px solid #DAE1E7;
  margin-top: 30px;
  padding-top: 30px;
  font-size: 28px;
  color: #42c7c1;
}

.order-wrapper h4 {
  margin-top: 40px;
  font-size: 25px;
  color: #322f33;
}

.order-amount {
  width: 40%;
  text-align: left;
}

.order-price {
  width: 35%;
  text-align: right;
}

/* レビュー一覧 */
.review-wrapper {
  text-align: center;
  width: 400px;
  margin: 60px auto;
}

.review-menu-item {
  border-radius: 5px;
  margin: 0 auto;
  padding-bottom: 20px;
  border: 1px solid #dadada;
}

.review-menu-item img {
  border-radius: 5px 5px 0 0;
}

.review-menu-item .menu-item-type {
  color: #c2c8ce;
  font-size: 16px;
}

.review-menu-item .price {
  font-size: 20px;
}

.review-list-wrapper {
  margin: 50px 0;
  text-align: left;
}

.review-list-title {
  padding-bottom: 10px;
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(104, 107, 106, 0.15);
}

.review-list-title h4 {
  font-size: 22px;
}

.review-list-item {
  margin-bottom: 30px;
  background: #e5eef6;
  padding: 10px;
  border-radius: 5px;
}

.review-list-title img, .review-list-title h4, .review-list-item img {
  display: inline-block;
  vertical-align: middle;
}

.icon-review {
  width: 40px;
  margin-right: 10px;
  margin-top: -12px;
}

.icon-user {
  width: 30px;
}

.review-user {
  width: 60px;
  display: inline-block;
  border-right: 1px solid #c1ced7;
  padding-right: 8px;
  text-align: center;
}

.review-text {
  display: inline-block;
  vertical-align: top;
  margin-top: 16px;
  margin-left: 10px;
  font-size: 15px;
}
