@charset "UTF-8";
* {
  box-sizing: border-box;
}

/*reset*/
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  vertical-align: baseline;
  list-style: none;
}

html {
  font-size: 16px;
}

body {
  font-family: Lato, 'Hiragino Kaku Gothic Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1;
  letter-spacing: 0.05em;
  color: #89949e;
}

ol, ul {
  list-style: none;
  list-style-type: none;
}

h2, h3, h4, h5, h6 {
  font-size: 28px;
}

a {
  text-decoration: none;
  color: #090798;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #322f33;
}

img {
  width: 100%;
}

.container {
  width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  background-color: rgba(11, 222, 233, 0.5);
  color: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.nav__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 16px;
  font-family: Montserrat,-apple-system,BlinkMacSystemFont,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,"Helvetica Neue",Arial,"Noto Sans",sans-serif;
}

.nav__title {
  display: inline-block;
  font-size: 1.5rem;
  margin-right: 2rem;
}

.header {
  padding: 142px 0 80px;
  background: linear-gradient(to top, rgba(217, 175, 217, 0.5) 0%, rgba(151, 217, 225, 0.5) 100%),url(../img/bg_toro.jpg);
  background-position: 50% 50%;
  background-size:cover;
  color: #fff;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 16px;
}

.header__title {
  margin: 40px 0 15px;
  font-size: 44px;
}

.prof-img {
  width: 100%;
  animation: pounding 1.5s linear infinite alternate;
}

@keyframes pounding{
  0%{ transform: scale(1.5); }
  100%{ transform: scale(1); }
}

.prof-img__outer {
  height: 240px;
  width: 240px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #fff;
}

.menu-wrapper {
  width: 103vw;
  margin-bottom: 60px;
  text-align: center;
}

.menu-item-name {
  line-height: 1.7;
  font-size: 25px;
  margin-top: 15px;
  color: #4ac0b9;
}

.menu-item-type {
  font-size: 14px;
}

.price {
  margin: 15px 0;
  font-size: 18px;
  color: #322f33;
}

.menu-items {
  margin: 60px 0;
}

.menu-item {
  display: inline-block;
  width: 40%;
  padding: 20px;
  margin-top: 40px;
}

.menu-item-image {
  border-radius: 50px;
}

.icon-spiciness {
  width: 20px;
}

.menu-item span {
  font-size: 16px;
}

@media (max-width: 480px) {
  h2, h3, h4, h5, h6 {
    font-size: 5.5vw!important;
  }
  .header {
    padding: 75px 0 20px;
  }
  .header__title {
    margin-top: 16px;
    font-size: 9vw;
  }
  .prof-img__outer {
    height: 160px;
    width: 160px;
  }
  .menu-wrapper,
  .menu-item{
    width: 100%;
  }
}

input {
  margin-left: 20px;
  margin-right: 10px;
  padding: 5px;
  text-align: center;
  width: 60px;
  font-size: 14px;
  margin-top: 10px;
}

input[type="submit"] {
  display: inline-block;
  width: 160px;
  height: 48px;
  line-height: 48px;
  padding: 0 20px;
  border-radius: 30px;
  border-style: none;
  color: white;
  background-color: #42c7c1;
  font-size: 15px;
  letter-spacing: 0.1em;
}
input[type="submit"]:hover {
   background-image: linear-gradient(0deg, #a7d9f5, #eaf6fd);
}
input[type="submit"]:active {
   border-style: none;
   transform: translate3d(0, 3px, 0);
}

/* 注文確認 */
.order-wrapper {
  text-align: center;
  background-color: #F8F8F8;
  line-height: 2;
  letter-spacing: 0.1em;
  width: 96%;
  margin: 60px auto;
  padding: 20px 0px 30px;
  border-radius: 5px;
  box-shadow: 0px 1px 4px #CCD7D4;
}

.order-wrapper h2 {
  font-size: 32px;
  margin: 30px 0;
  color: #322f33;
}

.order-wrapper p {
  display: inline-block;
  font-size: 17px;
}

.order-wrapper h3 {
  border-top: 1px solid #DAE1E7;
  margin-top: 30px;
  padding-top: 30px;
  font-size: 28px;
  color: #42c7c1;
}

.order-wrapper h4 {
  margin-top: 40px;
  font-size: 25px;
  color: #322f33;
}

.order-amount {
  width: 50%;
  text-align: left;
}

.order-price {
  width: 35%;
  text-align: right;
}

@media (max-width: 480px) {
.order-wrapper p{
  font-size: 3.5vw;
}
}

/* レビュー一覧 */
.review-wrapper {
  text-align: center;
  width: 400px;
  margin: 60px auto;
}

.review-menu-item {
  border-radius: 5px;
  margin: 0 auto;
  padding-bottom: 20px;
  border: 1px solid #dadada;
}

.review-menu-item img {
  border-radius: 5px 5px 0 0;
}

.review-menu-item .menu-item-type {
  color: #c2c8ce;
  font-size: 16px;
}

.review-menu-item .price {
  font-size: 20px;
}

.review-list-wrapper {
  margin: 50px 0;
  text-align: left;
}

.review-list-title {
  padding-bottom: 10px;
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(104, 107, 106, 0.15);
}

.review-list-title h4 {
  font-size: 22px;
}

.review-list-item {
  margin-bottom: 30px;
  background: #e5eef6;
  padding: 10px;
  border-radius: 5px;
}

.review-list-title img, .review-list-title h4, .review-list-item img {
  display: inline-block;
  vertical-align: middle;
}

.icon-review {
  width: 40px;
  margin-right: 10px;
  margin-top: -12px;
}

.icon-user {
  width: 30px;
}

.review-user {
  width: 60px;
  display: inline-block;
  border-right: 1px solid #c1ced7;
  padding-right: 8px;
  text-align: center;
}

.review-text {
  display: inline-block;
  vertical-align: top;
  margin-top: 16px;
  margin-left: 10px;
  font-size: 15px;
}

@media (max-width: 480px) {
.review-wrapper{
  width: 77%;
}
}
